nav {
  display: inline-block;
  float: left;
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding: 1em;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 1.17em;
  font-weight: 600;
}

main {
  margin-left: 150px;
}
